<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="message-details-wrapper">
        <h1>Message Details</h1>
        <div class="message-details">
            <div class="message-details-user"><%= message[0].username %></div>
            <div class="message-details-text"><%= message[0].text %></div>
            <div class="message-details-added"><%= message[0].added %></div>
        </div>
    </div>

    <%- include('footer'); %>
</body>
</html>